<div class="container mat-elevation-z8">
  <mat-table #table [dataSource]="people">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let people"> {{people.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let people"> {{people.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
      <mat-header-cell *matHeaderCellDef> Street Address </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.streetAddress}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.city}} </mat-cell>
    </ng-container>   

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.state}} </mat-cell>
    </ng-container>

        
    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef> Zip </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.zip}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.age}} </mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="interests">
      <mat-header-cell *matHeaderCellDef> Interests </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.interests}} </mat-cell>
    </ng-container>

        
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let person"> {{person.image}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
    <!-- [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" -->
  </mat-table>
</div>


<!-- 
<button (click)="getPeople()"></button>

<div *ngFor="let p of people  | async">
  {{ people | async | json }}
</div> -->
